body {
    background-image:url('cooking1.jpg');
    background-size:cover;
    
}

.content {
    font-family: Helvetica;
    font-size: 12px;
    width:80%;
    max-width:500px;
    margin:25px auto;
    line-height:20px;
    background-color:rgba(255, 255, 255, 0.85);
    border-radius:2px;
}

h1 {
    text-align:center;
    padding-top:20px;
    border-radius:5px;
    color:#734f2a;
    font-weight:800;
}

h3 {
    margin:0;
}

a {
    text-decoration: none;
}

.recipesource {
    text-align:right;
    margin-right:20px;
}

.recipesource a {
    background-color: #b87f45;
    color: #fff;
    padding: 7px;
    border-radius:5px;
}

.recipesource a:hover {
    background-color: #734f2a;
}

.tweet {
    font-family: Georgia;
    padding: 7px;
    border-radius:5px;
    margin-top: 5px;
    text-align:center;
    font-style:italic;
    font-size:14px;
}

.recipe {
    padding:0px 20px;
    border-radius:5px;
}

.recipe img {
    width:90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ingredients {
    width:30%;
    float:left;
}

.directions {
    width:70%;
    float:left;
}

